.option{
    background-color: #3c0e60;
    cursor: pointer;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    opacity: 0.8;
    transition: 0.4s;
}

.option:hover{
    opacity: 1;
}


#options-container .option p{
    margin-bottom: 0;
}


.correct {
    background-color: #0bfc03;
}

.wrong {
    background-color: #ff0303d8;
    opacity: 0.4;
}